@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.978 0.005 258.324);
  --foreground: oklch(0.293 0.039 253.516);
  --card: oklch(0.943 0.013 251.561);
  --card-foreground: oklch(0.293 0.039 253.516);
  --popover: oklch(0.943 0.013 251.561);
  --popover-foreground: oklch(0.293 0.039 253.516);
  --primary: oklch(0.586 0.067 251.880);
  --primary-foreground: oklch(0.978 0.005 258.324);
  --secondary: oklch(0.870 0.027 249.876);
  --secondary-foreground: oklch(0.293 0.039 253.516);
  --muted: oklch(0.943 0.013 251.561);
  --muted-foreground: oklch(0.293 0.039 253.516);
  --accent: oklch(0.586 0.067 251.880);
  --accent-foreground: oklch(0.978 0.005 258.324);
  --destructive: oklch(0.612 0.208 22.241);
  --border: oklch(0.870 0.027 249.876);
  --input: oklch(0.870 0.027 249.876);
  --ring: oklch(0.586 0.067 251.880);
  --chart-1: oklch(0.586 0.067 251.880);
  --chart-2: oklch(0.870 0.027 249.876);
  --chart-3: oklch(0.293 0.039 253.516);
  --chart-4: oklch(0.943 0.013 251.561);
  --chart-5: oklch(0.978 0.005 258.324);
  --radius: 0.625rem;
  --sidebar: oklch(0.943 0.013 251.561);
  --sidebar-foreground: oklch(0.293 0.039 253.516);
  --sidebar-primary: oklch(0.586 0.067 251.880);
  --sidebar-primary-foreground: oklch(0.978 0.005 258.324);
  --sidebar-accent: oklch(0.870 0.027 249.876);
  --sidebar-accent-foreground: oklch(0.293 0.039 253.516);
  --sidebar-border: oklch(0.870 0.027 249.876);
  --sidebar-ring: oklch(0.586 0.067 251.880);
}

.dark {
  --background: oklch(0.218 0.036 251.294);
  --foreground: oklch(0.636 0.049 254.610);
  --card: oklch(0.269 0.042 262.698);
  --card-foreground: oklch(0.636 0.049 254.610);
  --popover: oklch(0.269 0.042 262.698);
  --popover-foreground: oklch(0.636 0.049 254.610);
  --primary: oklch(0.460 0.056 252.671);
  --primary-foreground: oklch(0.975 0.018 137.795);
  --secondary: oklch(0.269 0.042 262.698);
  --secondary-foreground: oklch(0.636 0.049 254.610);
  --muted: oklch(0.269 0.042 262.698);
  --muted-foreground: oklch(0.636 0.049 254.610);
  --accent: oklch(0.460 0.056 252.671);
  --accent-foreground: oklch(0.975 0.018 137.795);
  --destructive: oklch(0.612 0.208 22.241);
  --border: oklch(0.460 0.056 252.671);
  --input: oklch(0.460 0.056 252.671);
  --ring: oklch(0.636 0.049 254.610);
  --chart-1: oklch(0.636 0.049 254.610);
  --chart-2: oklch(0.460 0.056 252.671);
  --chart-3: oklch(0.269 0.042 262.698);
  --chart-4: oklch(0.218 0.036 251.294);
  --chart-5: oklch(0.612 0.208 22.241);
  --sidebar: oklch(0.269 0.042 262.698);
  --sidebar-foreground: oklch(0.636 0.049 254.610);
  --sidebar-primary: oklch(0.460 0.056 252.671);
  --sidebar-primary-foreground: oklch(0.975 0.018 137.795);
  --sidebar-accent: oklch(0.269 0.042 262.698);
  --sidebar-accent-foreground: oklch(0.636 0.049 254.610);
  --sidebar-border: oklch(0.460 0.056 252.671);
  --sidebar-ring: oklch(0.636 0.049 254.610);
}

@theme inline {
    --font-sans: 'Geist Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}